<!-- nav.html -->
<nav class="navbar navbar-inverse" background-color="#FFFFFF">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<!-- <img src="/img/wallapop.jpeg" alt="logo" /> -->
			


		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
				<li><a href="/">Home</a></li>
				<li id="marks-menu" class="dropdown" sec:authorize="hasRole('ROLE_STANDARD')"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> Gestión de Productos <span
						class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/product/add">Agregar Productos</a></li>
						<li><a href="/product/myProducts">Mis productos ofertados</a></li>
						<li><a href="/product/list">Ver todos los productos</a></li>
						<li><a href="/product/purchased">Ver productos comprados</a></li>
						
					</ul></li>
				<li id="users-menu" class="dropdown"  sec:authorize="hasRole('ROLE_ADMIN')"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> Gestión de Usuarios <span
						class="caret" ></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="/user/add">Agregar usuario</a></li>
						<li><a href="/user/list">Ver Usuarios</a></li>
					</ul></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()"><a href="/signup"> <span
						class="glyphicon glyphicon-user"></span> Registrate
				</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/login"> <span
						class="glyphicon glyphicon-log-in"></span> Identifícate
				</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout"> <span
						class="glyphicon glyphicon-log-out"></span> Desconectar
				</a></li>

			</ul>
		</div>
	</div>
</nav>