<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">

		<div th:replace="fragments/infoUser" />

		<h2 th:text="#{product.addProducts}">Agregar producto</h2>
		<form class="form-horizontal" method="post" action="/product/add" th:object="${product}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title" th:text="#{addProduct.title}">Titulo:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="title"
						th:placeholder="#{placeholder.product.name}" required="true" />
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description" th:text="#{addProduct.description}">Descripcion:</label>
				<div class="col-sm-10">
					<textArea type="text" class="form-control" name="description" id = "description_product"
						th:placeholder="#{placeholder.product.description}"
						required="true"></textArea>
				</div>
			</div>
			<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd" th:text="#{addProduct.price}">Precio:</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" name="price"
						th:placeholder="#{placeholder.product.price}" required="true" />
				</div>
				<span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
				
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{product.addProducts}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
