<!DOCTYPE html>
<html lang="en">
<head>
<head th:replace="fragments/head" />
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">



		<h2 th:text="#{listProduct.meanMessage}">Productos</h2>
		<p th:text="#{listProduct.message}">Los productos que figuran son los siguientes:</p>

		<form class="navbar-form" action="/product/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por título de producto">
			</div>
			<button type="submit" class="btn btn-default" th:text="#{listProduct.search}">Buscar</button>
		</form>


		<div class="table-responsive" th:fragment="divProducts"
			id="divProducts">
			<div th:replace="fragments/infoUser" />
			<table class="table table-hover">

				<thead>
					<tr>
						<th class="col-md-3" th:text="#{listProduct.title}">Título</th>
						<th class="col-md-3" th:text="#{listProduct.description}">Descripción</th>
						<th class="col-md-3" th:text="#{listProduct.price}">Precio (€)</th>
						<th class="col-md-3"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${productList}">
						<td th:text="${product.title}">1</td>
						<td th:text="${product.description}">Ejercicio 1</td>
						<td th:text="${product.price}">10</td>
						<td><a th:href="${'/product/details/' + product.id}" th:text="#{listProduct.details}">detalles</a></td>
						<td>
							<div sec:authorize="hasRole('ROLE_STANDARD')">
								<div th:if="${product.user.id == user.id}">
									<p th:text="#{listProduct.ownProduct}">Producto propio</p>
								</div>
								<div th:if="${!product.buyed && product.user.id != user.id}">
									<button type="button" th:id="${'buyProduct' + product.id}"
										class="btn btn-info" th:text="#{listProduct.buy}">Comprar</button>
								</div>
								<script th:inline="javascript">
									/*<![CDATA[*/
									$("#buyProduct[[${product.id}]]").click(function() {
										$.get("/product/[[${product.id}]]/buy", function(data) 		
											{
												if([[${product.price}]] > [[${user.money}]])
												{
													var mensaje = "#{listProduct.notEnoughMoney}";
													alert(mensaje);
												}
												 var numberPage = [[${param.page}]];
												 var urlUpdate = '/product/list/update';
												 if (numberPage != null ){
												 	urlUpdate += "?page="+numberPage[0];
												 }												
												$("#divProducts").load(urlUpdate);
											}	
										);
													

									});
									/*]]>*/
								</script>
							<div th:if="${product.buyed}">
								<p th:text="#{listProduct.buyed}">Comprado</p>
							</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>

	
		<footer th:replace="fragments/pagination"/>

	<footer th:replace="fragments/footer" />


</body>
</html>
