<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{listuser.title}" id="listUser"></h2>
		
		<p th:text="#{listuser.description}">Los usuarios que actualmente figuran en el sistema son los
			siguientes:
		</p>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{listuser.email}">Email</th>
							<th th:text="#{listuser.name}">Nombre</th>
							<th th:text="#{listuser.lastName}">Apellidos</th>
							<th th:text="#{listuser.delete}">Eliminar</th>
							<th class="col-md-1"></th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${usersList}">
							<td th:text="${user.email}">71888888X</td>
							<td th:text="${user.name}">Nombre del alumno</td>
							<td th:text="${user.lastName}">Apellidos del alumno</td>
							<form  class="form-horizontal" method="post" action="/user/delete">
							<td><input type="checkbox" name="checkbox_ids" th:value="${user.id}"></td>
							<td><a th:href="${'/user/details/' + user.id}" th:text="#{listuser.details}">detalles</a></td>
							<td><a th:href="${'/user/edit/' + user.id}" th:text="#{listuser.edit}">modificar</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" id="buttonDelete" th:text="#{listuser.deleteButton}">Eliminar usuarios seleccionados</button>
					</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>